# Server Configuration
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/quiz-app

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=30d

## Cookie
COOKIE_DOMAIN=xxxx
SUPPORT_EMAIL=xxxx
WEBSITE_URL=xxxx

# Email Configuration
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-email-app-password

# Rate Limiting (optional - defaults are set in code)
# RATE_LIMIT_WINDOW_MS=900000
# RATE_LIMIT_MAX_REQUESTS=100

## Support email
SUPPORT_EMAIL=xxxx
WEBSITE_URL=xxxx

# AI question generator
GEMINI_API_KEY=xxxx

REDIS_HOST=xxxx
REDIS_PORT=14522
REDIS_PASSWORD=xxxx
REDIS_DB=xxxx
REDIS_HOST=xxxx
REDIS_USERNAME=xxxx

# Google oauth2 google login
GOOGLE_CLIENT_ID=xxxx
GOOGLE_CLIENT_SECRET=xxxx
GOOGLE_CALLBACK_URL=xxxx

# frontend
FRONTEND_URL=xxxx

# For redirect from backend to fronetnd.
FRONTEND_URL=xxxx

## AWS
AWS_REGION=xxxx
S3_BUCKET_NAME=xxxx
AWS_SECRET_ACCESS_KEY=xxxx
AWS_ACCESS_KEY_ID=xxxx

